/*font-size:文字大小
font-weight:值从100-900，文字粗细，不推荐使用font-weight:bold
font-family:微软雅黑，文本的字体
font-style:normal|italic; normal 默认值 italic 斜体
line-height:行高*/
.box{
	font: italic  700 54px microsoft yahei;
}