/*<!--main部分开始-->*/
    .main-slider{
        float: left;
        margin:12px 0 0 220px;
        width: 730px;
        height: 454px;
        position: relative;
    }
    .main-slider ul{
        position: absolute;
        left:50%;
        bottom: 10px;
        margin-left:-66px ;
        
    }
    .main-slider li{
        float: left;
        color: #fff;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        background-color: #3E3E3E;
        border-radius: 9px;
        margin: 0 2px;
        cursor: pointer;
    }
    .main-slider .current{
        background-color: #fff;
    }
    .arrow a {
        position: absolute;
        top:50%;
        width: 28px;
        height: 62px;
        background-color: pink;
        color: #fff;
        font : 400 22px/62px "simsun";
        text-align: center;
        margin-top: -31px;
        background: rgba(0,0,0,0.3);
        /*opacity: 0.3;如果用这个的话，这样会导致连的字体颜色的透明度也会变化，不好*/

    }
    .arrow a:hover{
        background: rgba(0,0,0,0.7);
    }
    .arrow-left{
        left:0;
        border-radius:10px 0 0 10px;
    }
    .arrow-right{
        right:0;
        border-radius: 0 10px 10px 0;
    }
    .main-news{
        float: right;
        height: 446px;
        width: 250px;

    }
    .main-news-top {
        overflow: hidden;/*切除掉li超出边框的尺寸，几个像素，客户是没有办法看出来的*/
        margin:12px 0 5px 0;
        height: 372px;
        width: 248px;
        border:1px solid #E4E4E4;
    }
    .main-news-top-faster {
        height: 163px;
        border-bottom: 1px dashed #E4E4E4;
    }
    .main-news-top-faster-title{
        border-bottom: 1px dotted #E8E8E8;
        padding:0 15px;
        height: 32px;
        line-height: 32px;
    }
    .main-news-top-faster-title h2{
        float: left;
        font:400 16px/32px "microsoft yahei"
    }
    .main-news-top-faster-title a{
        float: right;
        font-family:"consolas";
        /*line-height: 32px;*/
        /*height: 32px;*/
    }
    .main-news-top-faster-content{
        padding: 5px 0 0 15px;
    }
    .main-news-top-faster-content li{
        /*height: 24px;*/
        line-height: 24px;

    }
    .main-news-top-faster-content span{
        margin-right: 5px;
        font-weight: 700;
    }
    .main-news-top-money ul{
        width:260px;/*li数目*宽度<width<（li数目+1）*宽度*/
    }
    .main-news-top-money li{
        width: 62px;
        height: 70px;
        border: 1px solid #E8E8E8;
        float: left;
        margin-left: -1px;
        margin-top: -1px;
        boder-top:0;

    }
    .main-news-top-money a{
        display: block;
        width: 62px;
        height: 30px;
        text-align: center;
        padding-top: 40px;
        line-height: 30px;
        position: relative;
    }
    .main-news-top-money i{
        position: absolute;
        top:13px;
        left:18px;
        width: 25px;
        height: 25px;
        background: url("../images/fly.png") no-repeat;
    }
    .main-news-top-money .main-news-top-money-icon1{
        background-position: 0 -0px;
    }
    .main-news-top-money .main-news-top-money-icon2{
        background-position: 0 -25px;
    }
    .main-news-top-money .main-news-top-money-icon3{
        background-position: 0 -50px;
    }
    .main-news-top-money .main-news-top-money-icon4{
        background-position: 0 -75px;
    }
    .main-news-top-money .main-news-top-money-icon5{
        background-position: 0 -100px;
    }
    .main-news-top-money .main-news-top-money-icon6{
        background-position: 0 -125px;
    }
    .main-news-top-money .main-news-top-money-icon7{
        background-position: 0 -150px;
    }
    .main-news-top-money .main-news-top-money-icon8{
        background-position: 0 -175px;
    }
    .main-news-top-money .main-news-top-money-icon9{
        background-position: 0 -220px;
    }
    .main-news-top-money .main-news-top-money-icon10{
        background-position: 0 -225px;
    }
    .main-news-top-money .main-news-top-money-icon11{
        background-position: 0 -250px;
    }
    .main-news-top-money .main-news-top-money-icon12{
        background-position: 0 -275px;
    }
    .main-news-top-money span{

    }
    .show{
        background: url("../images/fly.png") no-repeat right top;
    }
    .spe{
        background: url("../images/fly.png") no-repeat right top;
    }
/*<!--main部分结束-->*/


/*<!--今日推荐开始-->*/
    .today-left{
        float: left;
    }
    .today{
        margin: 10px auto 20px;
    }
    .today-left a{
        display: block;
        width: 210px;
        height: 151px;
        background: url("../images/top-banner.jpg") right bottom;
    }

    .today-right{
        float: right;
        width: 1000px;
        overflow: hidden;
        position: relative;
    }
    .today-right ul{
        width:410%;
    }
    .today-right li{
        width: 250px;
        float: left;
        margin-right: 1px;
    }
/*<!--今日推荐结束-->*/